/* Estilo general */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilo del encabezado */
header {
    background-color: #ecacad;
    color: #fff;
    padding: 10px 0;
    text-align: center; 
}

nav {
    text-align: right; 
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    font-size: 20px;
}

/* Estilo de la tabla de publicaciones de blog */
.blog-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #120b0b; 
}

.blog-table p {
    color: #333;
}

.blog-post {
    padding: 20px;
    text-align: center; 
    border: 10px solid #fcd6d6;
}

.blog-title {
    font-size: 55px; 
    color: #fff;
    margin-right: 900px;
    margin-bottom: -45px;
}

.blog-content {
    border-bottom: 10px solid #e6bebe; 
}

.blog-image {
    max-width: 100%;
    height: auto;
    object-fit: contain; 
    max-height: 250px; 
}

/* Estilo del pie de página */
footer {
    background-color: #2c2a2a;
    color: #fff;
    padding: 20px; 
    text-align: center; 
}

#c1 {
    display: flex;
    justify-content: left; 
    align-items: left; 
}

#c1-1 {
    width: 50%; 
    text-align: left;
}

#c1-2 {
    width: 50%;
    text-align: center;
}

#c1-2 ul {
    list-style: none;
    padding: 0;
    margin-left: 200px;
}

#c1-2 ul li {
    margin-bottom: 10px;
    color: rgb(141, 138, 138);
}

#c1-2 a {
    color: rgb(144, 144, 144);
    text-decoration: none;
}

#c1 h2,
#c1-1 h2 {
    text-align: left;
    color: white;
    font-size: 2em;
}

#c1-2 h2 {
    text-align: center;
    color: white;
    font-size: 2em;
    margin-left: 200px;
}

#c1 p,
#c1-2 p {
    font-size: 1em;
}

#c2 {
    display: flex;
    justify-content: left;
}

/* Estilo de enlaces */
a {
    color: #176ad0;
    text-decoration: none;
}