body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: rgba(255, 228, 196, 0.295);
}

h1 {
    font-size: 3.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h2 {
    font-size: 2.7em;
}

h3 {
    font-size: 2em;
}

p {
    font-size: 1.25em;
}

ul {
    list-style: none;
}

li {
    font-size: 1.25em;
}

button {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: rosybrown;
}

button:hover {
    background-color: rgb(166, 128, 128)
}

header {
    background-color: #FFD9E0;
}

header .logo {
    font-size: 2.5em;
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: #6F7170;
}

header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
}

header nav {
    text-align: center;
    padding-bottom: 40px;
    margin-right: 30px;
}
header nav a {
    display: inline-block;
    margin-left: 15px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover {
    color: #6F7170;
}
#pag {
    text-align: left;
}
.product-list {
    list-style-type: none;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-right: 400px;
    border-radius: 20px;
    /* 3 columnas */
    grid-gap: 20px;
    /* Espacio entre los elementos */
}
.product-list img {
    max-width: 220px;
    max-height: 360px;
    width: auto; 
    height: auto;   
}
.product-item {
    border: 2px solid #ccc;
    border-radius: 10px;
    width: 200px;
    height: 325px; 
    padding: 40px;
    margin: 5px 5px 10px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.product-item h5 {
    font-weight: normal;
}
.product-item h4 {
    margin: 10px 0;
}
.product-item img {
    max-width: 220px;
    max-height: 220px;
}
.product-item h3 {
    margin-top: 10px;
}
#shop {
    display: flex; 
    align-items: flex-start; 
}

.filter-container {
    background-color: #df856e57;
    padding: 20px;
    margin-left: 400px;
    width: 400px;
    height: 800px;
    border-radius: 20px;

}
#navg {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#titlecenter {
    margin-bottom: 10px;
}
.catalog-container {
    flex-grow: 1;
    padding: 20px;
}
#third .container{
    background-color: #F2E0DB;
    text-align: center;
    padding: 200px 12px;
}

footer{
    background-color: rgb(29,28,28);
    height: 350px;
}
footer p{
    
    color: rgb(120,120,120);
}
footer .container{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#c1{
    display: flex;
}
#c1-1{
    width: 50%;
}
#c1-2 li{
    color: rgb(120,120,120);
}
#c1-2 a{
    color: rgb(120,120,120);
    text-decoration: none;
}
#c1 h2{
    text-align: center;
    color: white;
    font-size: 2em;
}
#c1 p{
    font-size: 1em;
}
#c2{
    display: flex;
    justify-content: flex-start;
    background-color: rgb(29,28,28);
}
