body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1{ font-size: 3.5em;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}

button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: rosybrown;
}
button:hover{
    background-color: rgb(166, 128, 128)
}

header{
    /* background-color: rgb(245,245,245); */
    background-color: #FFD9E0;
}
header .logo{
    font-size: 2.5em;
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: #6F7170;
}
header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}
header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}
header a:hover{
    color: #6F7170;
}

#first{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    )
    ,url(media/fondo3-first.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#first h1{
    color: white;
}



/* inicio del codigo reciclado */
#second{
    display: flex;
    justify-content: center;
}

.container-second{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 80%;
    /* background-color: antiquewhite; */
    padding: 20px;
    justify-content: center;
}

#popular-products{
    /* background-color: darkcyan; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#popular-products h2{
    font-size: 32px;
    margin: 0;
}

#popular-products p{
    font-size: 11px;
    color: dimgray;
    margin: 0;
    padding-bottom: 17px;

}

#nav-products{
    /* background-color: burlywood; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.caja{
    display: flex;
    flex-direction: column;
    align-items: center; 
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    padding: 15px;

}   

.cakes{
    height: 280px;
    width: 210px;
}
/* fin del codigo reciclado */



#third .container{
    background-color: #F2E0DB;
    text-align: center;
    padding: 200px 12px;
}

footer{
    background-color: rgb(29,28,28);
    height: 350px;
}
footer p{
    
    color: rgb(120,120,120);
}
footer .container{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#c1{
    display: flex;
}
#c1-1{
    width: 50%;
}
#c1-2 li{
    color: rgb(120,120,120);
}
#c1-2 a{
    color: rgb(120,120,120);
    text-decoration: none;
}
#c1 h2{
    text-align: center;
    color: white;
    font-size: 2em;
}
#c1 p{
    font-size: 1em;
}
#c2{
    display: flex;
    justify-content: flex-start;
    background-color: rgb(29,28,28);
}



@media (min-width: 850px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }
    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 30px;
    }
    header nav a{
        justify-content: center;
        padding-right: 20px;
    }
    /* header .logo{
        padding: 0 0 0 20px;
        height: 60px;
    } */


    #first{
        height: 120vh;
        background-position: center bottom;
    }
    #first h1{
        font-size: 5em;
    }
    #first button{
        font-size: 2.5em;
    }
}